<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/compare.css">
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"
/>
</head>
<body>
    <%- include('../includes/head-navigation.ejs') %>
    <%- include('../includes/app-navigation.ejs') %>
    <!-- <main class="main-compare__component">
        
        <div class="player-search-form"> 
    
          <div class="players-selector__container"> 
            <div class='players-pick'>
              <div class="radio-group">
                <input type="radio" id="two-players" name="selector"><label for="two-players">2 Players</label><input type="radio" id="three-players" name="selector"><label for="three-players">3 Players</label><input type="radio" id="four-players" name="selector"><label for="four-players">4 Players</label>
              </div>
            </div>
          </div>
    
          <form class="players-data__container"  action="/compare" method="POST">  
            <div class="target"></div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="btn-wrapper">
                <button class="btn" type="submit">Search</button>
            </div>
          </form> 
        </div>
      </main> -->
    <script>
    </script>
    <script src="/js/resultCompare.js"></script>
    <script src="/js/pageBuilder.js"></script>
    <script src="/js/compare.js"></script> 
<%- include('../includes/end.ejs') %>